// Main__section
//=======================================================================================================

.main {

	&__section {
		margin-top: 44px;
		margin-bottom: 100px;
	}

	&__container {
		display: flex;
	}

	&__content-left {
		flex: 0 0 330px;
		background-color: grey;
		margin-right: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 25px;
		@media(max-width: $tablet) {
			flex: 0 0 200px;
		}
		@media(max-width: $mobile) {
			display: none;
		}
	}

	&__content-right {
		flex: 1 1 auto;
	}

	&__content-title {
		font-family: $fontFamily;
		font-style: normal;
		font-weight: 600;
		font-size: 25px;
		line-height: 29px;
		margin-bottom: 20px;
		@media(max-width: $tablet) {
			font-size: 23px;
		}
		@media(max-width: $mobile) {
			font-size: 22px;
		}
		@media(max-width: $mobileSmall) {
			font-size: 25px;
			font-weight: 700;
		}
	}

	&__content-breadcump {
		display: flex;
		justify-content: space-between;
		@media(max-width: $mobileSmall) {
			align-items: center;
		}
	}

	&__content-filters {
		margin-left: 20px;
		flex: 0 1 200px;
		padding: 10px;
		@media(max-width: $mobileSmall) {
			flex: 0 1 auto;
			position: relative;
		}
		p {
			cursor: pointer;
			font-weight: 400;
			font-size: 13px;
			line-height: 20px;
			color: #2C2D2E;
			position: relative;
			text-align: right;
			@media(max-width: $mobileSmall) {
				font-weight: 600;
			}
			&:after {
				position: absolute;
				right: 110px;
				top: 0px;
				content: "";
				width: 19px;
				height: 19px;
				background-image: url('../img/main/Filter.png');
				background-size: contain;
				background-position: right;
				background-repeat: no-repeat;
				@media(max-width: $mobileSmall) {
					right: 95px;
				}
			}
		}
		ul {
			display: none;
			li {

			}
		}
	}

	&__content-body {
		margin-top: 24px;
		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(180px,200px));
		gap: 20px;
		@media(max-width: 1500px) {
			grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
		}
	}

	&__content-item {
		border: 1px solid #E6E6E6;
		border-radius: 6px;
		padding: 10px;
		transition: all .3s ease 0s;
		display: flex;
		flex-direction: column;
		@media (any-hover: hover){
			&:hover{
				box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25); 
			} 
		}
		@media(max-width: $mobileSmall) {
			border: none;
			flex-direction: row;
			position: relative;
			padding: 0;
			@media (any-hover: hover){
				&:hover{
					box-shadow: none;
				} 
			}
		}
	}
}
.breadcump__list {
	display: flex;
	flex-wrap: wrap;
	li {
		font-family: $fontFamily;
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		color: #7B7B7B;
		position: relative;
		padding: 0 35px 0 0;
		margin-bottom: 10px;
		a {
			transition: all .3s ease 0s;
			@media (any-hover: hover){
				&:hover{
					text-decoration: underline;
				} 
			}
		}
		&:first-child {
			padding-left: 0;
		}
		&:not(:last-child) {
			&:after {
				position: absolute;
				right: 10px;
				top: 0px;
				content: "";
				width: 8px;
				height: 14px;
				background-image: url('../img/main/arrow-right.png');
				background-size: contain;
				background-position: right;
				background-repeat: no-repeat;
			}
		}
		
	}
}
.filters__text:hover ~ .filters__list {
	display: block;
	background-color: #FFFFFF;
	border: 1px solid #E4E4E4;
	box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	z-index: 1;
	position: absolute;
	padding: 12px;
	@media(max-width: 1000px) {
		right: 0;
	}
}
.filters__list:hover {
	display: block;
	background-color: #FFFFFF;
	border: 1px solid #E4E4E4;
	box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	z-index: 1;
	position: absolute;
	padding: 12px;
	@media(max-width: 1000px) {
		right: 0;
	}
}

.filters {
	&__list {
		width: 200px;
			li {
				&:not(:last-child) {
					margin-bottom: 6px;
				}
				a {
					font-weight: 400;
					font-size: 11px;
					line-height: 150%;
					@media (any-hover: hover){
						&:hover{
							text-decoration: underline; 
						} 
					}
				}
			}
	}
	&__link {
		display: none;
		padding-left: 25px;
		@media(max-width: $mobileSmall) {
			display: inline-block;
			font-weight: 600;
			color: #2C2D2E;
			font-size: 13px;
			position: relative;
			@media (any-hover: hover){
				&:hover{
					text-decoration: underline; 
				} 
			}
			&:after {
				content: "";
				position: absolute;
				left: 0;
				top: -2px;
				width: 17px;
				height: 17px;
				background-image: url('../img/main/menu.png');
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}
	&__item {
		font-family: $fontFamily;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		color: #F4831B;
		position: relative;
		flex: 1 1 16.666%;
		display: flex;
		padding: 10px 0;
		justify-content: center;
		align-items: center;
		@media(max-width: $tablet) {
			font-size: 18px;
		}
		@media(max-width: $mobile) {
			font-size: 16px;
		}
		&:not(:last-child) {
			&:before {
				content: "";
				position: absolute;
				top: 10%;
				right: 0;
				width: 2px;
				height: 80%;
				background-color: rgba(244, 131, 27, .2);
			}
		}
		&:first-child {
			transition: all .3s ease 0s;
			@media (any-hover: hover){
				&:hover{
					border-top-left-radius: 50px; 
					border-bottom-left-radius: 50px; 
				} 
			}
		}
		@media (any-hover: hover){
			transition: all .3s ease 0s;
			&:hover{
				box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.15); 
			} 
		}
	}
}
.ubivanie {
	&:after {
		content: "";
		position: absolute;
		top: 30%;
		left: 40%;
		width: 16px;
		height: 19px;
		background-image: url('../img/main/arrow-buttom.png');
		background-size: contain;
	}
}
.vozrastanie {
	&:after {
		content: "";
		position: absolute;
		top: 30%;
		left: 40%;
		width: 16px;
		height: 19px;
		background-image: url('../img/main/arrow-buttom.png');
		background-size: contain;
		transform: rotate(180deg);
	}
}
.hit {
}
.procent {
}
.new {
	&:before {
		opacity: 0;
	}
}
.filter {
	&:after {
		content: "";
		position: absolute;
		top: 27%;
		left: 30%;
		width: 22px;
		height: 22px;
		background-image: url('../img/main/filter.png');
		background-size: contain;
	}
	border-left: 1px solid #F4831B;
	box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.15);
	border-radius: 50px;
}
.item {
	&__top {
		flex: 0 1 auto;
		@media(max-width: $mobileSmall) {
			flex: 0 1 125px;
		}
		
	}
	&__bottom {
		flex: 0 1 auto;
		@media(max-width: $mobileSmall) {
			margin-left: 15px;
			display: flex;
			flex-direction: column;
		}
	}
	&__image {
		position: relative;
		@media(max-width: $mobileSmall) {
			border: 1px solid #E4E4E4;
			border-radius: 10px;
			height: 100%;
		}
	}

	&__actia {
		background-color: #E60606;
		border-radius: 6px;
		font-family: $fontFamily;
		font-style: normal;
		font-weight: 600;
		font-size: 13.8868px;
		line-height: 17px;
		color: #FFFFFF;
		text-transform: uppercase;
		padding: 1px 10px;
		position: absolute;
		@media(max-width: $mobileSmall) {
			font-size: 10px;
			bottom: 35px;
			left: 10px;
		}
	}

	&__news {
		background-color: #52AC31;
		border-radius: 6px;
		font-family: $fontFamily;
		font-style: normal;
		font-weight: 600;
		font-size: 13.8868px;
		line-height: 17px;
		color: #FFFFFF;
		text-transform: uppercase;
		padding: 1px 10px;
		position: absolute;
		top: 25px;
		@media(max-width: $mobileSmall) {
			font-size: 10px;
			top: auto;
			bottom: 10px;
			left: 10px;
		}
	}

	&__best {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 24px;
			height: 21px;
			background-image: url('../img/main/heart.png');
			background-size: contain;
			background-repeat: no-repeat;
			transition: all .3s ease 0s;
			@media(max-width: $mobileSmall) {
				background-size: 80%;
			}
		}
		@media (any-hover: hover){
			&:hover{
				&:after {
					background-image: url('../img/main/heart2.png');
				}
			} 
		}
	}

	&__image-link {
		img {
			width: 169px;
			height: auto;
			padding: 10px;
			@media(max-width: $mobileSmall) {
				width: 125px;
			}
		}
	}

	&__stars {
		display: flex;
		align-items: center;
		margin-bottom: 35px;
		@media(max-width: $mobileSmall) {
			order: 2;
			margin-bottom: 15px;
		}
	}

	&__stars-bg {
		position: relative;
		width: 90px;
		height: 14px;
		background-color: white;
		cursor: pointer;
		&:after {
			content: "";
			position: absolute;
			top: 0%;
			left: 0%;
			width: 90px;
			height: 14px;
			background-image: url('../img/main/stars.png');
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	&__stars-number {
		font-family: $fontFamily;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		color: #E2E2E2;
		margin-left: 10px;
	}

	&__title {
		font-family: $fontFamily;
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 18px;
		flex: 1 1 100%;
		margin-bottom: 13px;
		@media(max-width: $mobileSmall) {
			order: 1;
			padding-right: 30px;
			font-size: 13px;
			margin-bottom: 5px;
		}
	}

	&__cost {
		font-family: $fontFamily;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
		display: flex;
		align-items: flex-end;
		@media(max-width: $mobileSmall) {
			order: 3;
			font-size: 18px;
			margin-bottom: 5px;
		}
	}

	&__number {
		font-family: $fontFamily;
		font-style: normal;
		font-weight: 600;
		font-size: 25px;
		line-height: 30px;
		margin-right: 5px;
		position: relative;
		span {
			font-family: $fontFamily;
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 18px;
			text-decoration-line: line-through;
			color: #C4C4C4;
			position: absolute;
			right: -33px;
			top: -5px;
		}
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 10px;
		@media(max-width: $mobileSmall) {
			margin-top: 5px;
			order: 4;
			border: 1px solid #E4E4E4;
			border-radius: 7px;
		}
	}

	&__quantity {
		display: flex;
		justify-content: space-between;
		font-family: $fontFamily;
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: 27px;
		color: #2C2D2E;
		width: 100%;
		margin-left: 13px;
		@media(max-width: 1070px) {
			flex: 0 1 120px;
		}
		@media(max-width: $mobileSmall) {
			flex: 0 1 120px;
			order: 1;
			margin-left: 0;
			font-size: 15px;
			margin-right: 10px;
		}
	}

	&__quantity-minus {
		flex: 0 0 25px;
		color: #2C2D2E;
		display: flex;
    align-items: center;
    justify-content: center;
	 font-size: 30px;
	 transition: all .3s ease 0s;
	 @media (any-hover: hover){
		&:hover{
			color: #F4831B; 
		} 
	 }
	 @media(max-width: $mobileSmall) {
		font-size: 25px;
		color: #7B7B7B;
	 }
	}

	&__quantity-input {
		flex: 1 1 auto;
		color: #2C2D2E;
		width: inherit;
		text-align: center;
		@media(max-width: $mobileSmall) {
			color: #7B7B7B;
		 }
	}

	&__quantity-plus {
		flex: 0 0 25px;
		color: #2C2D2E;
		display: flex;
    align-items: center;
    justify-content: center;
	 font-size: 30px;
	 transition: all .3s ease 0s;
	 @media (any-hover: hover){
		&:hover{
			color: #F4831B; 
		} 
	 }
	 @media(max-width: $mobileSmall) {
		font-size: 25px;
		color: #7B7B7B;
	 }
	}

	&__card {
		flex: 1 0 97px;
		background-color: #52AC31;
		border-radius: 6px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 31px;
		transition: all .3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25); 
			} 
		}
		@media(max-width: 1070px) {
			flex: 0 0 92px;
		}
		@media(max-width: $mobileSmall) {
			flex: 0 0 86px;
			order: 2;
		}
	}

	&__card-link {
		position: relative;
		height: 23px;
		width: 23px;
		display: flex;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 23px;
			height: 23px;
			background-image: url('../img//main/card.png');
			background-size: contain;
		}
	}

	&__second-title {
		font-family: $fontFamily;
		font-style: normal;
		font-weight: 600;
		font-size: 13px;
		line-height: 24px;
		text-align: center;
		color: #000000;
		margin-top: 90px;
		@media(max-width: $mobileSmall) {
			margin-top: 20px;
			font-size: 18px;
		}
		br {
			@media(max-width: $mobileSmall) {
				display: none;
			}
		}
	}

	&__second-text {
		font-family: $fontFamily;
		font-style: normal;
		font-weight: 400;
		font-size: 11px;
		line-height: 18px;
		text-align: center;
		margin: 22px 0 37px 0;
		color: #000000;
		@media(max-width: $mobileSmall) {
			margin: 8px 0 15px 0;
			font-size: 13px;
		}
		br {
			@media(max-width: $mobileSmall) {
				display: none;
			}
		}
	}

	&__second-button {
		display: flex;
		justify-content: center;
		a {
			background-color: #F4831B;
			padding: 8px 14px;
			border-radius: 6px;
			font-family: $fontFamily;
			font-style: normal;
			font-weight: 400;
			font-size: 13px;
			line-height: 18px;
			text-align: center;
			color: #FFFFFF;
			transition: all .3s ease 0s;
			@media(max-width: $mobileSmall) {
				font-size: 13px;
				padding: 10px 50px;
				font-weight: 600;
			}
		@media (any-hover: hover){
			&:hover{
				box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25); 
			} 
		}
		}
		@media(max-width: $mobileSmall) {
			margin-bottom: 10px;
		}
	}
}
.mobile {
	display: none;
}
@media(max-width: $mobileSmall) {
	.main__content-item {
		display: none;
	}
	.main__content-item.mobile {
		display: flex;
	}
	.main__content-item.second {
		flex-direction: column;
	}
}