.profile {

	&__section {
	}

	&__top {
		background-color: #1E222D;
		padding: 6px 0;
		display: flex;
		gap: 20px;
		padding: 6px 5px;
	}

	&__top-block {
		display: flex;
		align-items: center;
		max-width: 280px;
		height: 28px;
		background: rgba(255, 255, 255, 0.16);
		border-radius: 4px;
		color: #FFFFFF;
		border: transparent;
		padding: 0 30px 0 11px;
		font-size: 14px;
		line-height: 20px;
		position: relative;
	}

	&__top-title {
		color: #FFFFFF;
		font-size: 14px;
		line-height: 20px;
		cursor: pointer;
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;
		opacity: 0.8;
		&:after {
			content: "";
			position: absolute;
			top: 13px;
			right: -15px;
			background-color: #FFFFFF;
			width: 10px;
			height: 2px;
			transform: rotate(45deg);
		}
		&:before {
			content: "";
			position: absolute;
			top: 13px;
			right: -22px;
			background-color: #FFFFFF;
			width: 10px;
			height: 2px;
			transform: rotate(-45deg);
		}
	}

	&__body-top {
		box-shadow: 0 1px 1px 0 rgb(27 42 48 / 10%);
		padding: 15px 20px;
		ul {
			display: flex;
			gap: 30px;
			li {
				color: #1B2A30;
				font-weight: normal;
				font-size: 15px;
				position: relative;
				a {
					color: #2589FF;
				}
				&:not(:last-child) {
					&::before {
						content: "→";
						position: absolute;
						top: 0;
						right: -18px;
						width: 8px;
						height: 2px;
						
					}
				}
			}
		}
	}

	&__body-main {
		background-color: #f1f2f3;
		padding: 0 20px;
	}

	&__top-body {
		position: absolute;
		width: 100%;
		bottom: -108px;
		left: 0;
		z-index: 1;
		background-color: #2A2C33;
		box-shadow: 0px 4px 16px rgb(0 0 0 / 20%);
		border: 1px solid rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(5px);
		border-radius: 4px;
		color: rgba(255, 255, 255, 0.75);
	}

	&__top-item {
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		padding: 7px 15px;
		a {
			color: rgba(255, 255, 255, 0.75);
			font-size: 14px;
			font-weight: normal;
			display: inline-block;
			width: 100%;
		}
	}

	&__body {
		display: flex;
	}

	&__body-left {
		flex: 0 0 50px;
		background-color: #3E414B;
		@media (any-hover: hover){
			&:hover{
				span {
					display: block;
				} 
			} 
		}
	}

	&__body-right {
		flex: 1 1 auto;
	}

	&__left-item {
		img {
			max-width: 100%;
			height: auto;
			color: white;
			fill: white;
		}
		a {
			padding: 17px;
			display: inline-flex;
			align-items: center;
			width: 100%;
			transition: all .3s ease 0s;
			position: relative;
			gap: 15px;
			@media (any-hover: hover){
				&:hover{
					background-color: rgba(0,0,0,0.2); 
				} 
			}
			img {
				flex: 0 1 18px;
				max-width: 100%;
				height: auto;
				width: 16px;
			}
			span {
				display: none;
				flex: 1 1 auto;
				color: white;
				padding-right: 10px;
			}
		}
		&.active {
			background-color: #2589FF;
		}
	}

	&__title {
		font-size: 18px;
		line-height: 26px;
		font-weight: 600;
		padding: 16px 0;
	}

	&__wrapper {
		background-color: white;
		padding: 16px;
		margin-bottom: 16px;
	}

	&__item {
		margin-bottom: 15px;
		p {
			font-weight: 600;
			font-size: 15px;
			margin-bottom: 5px;
			line-height: 24px;
			font-family: PTSans, sans-serif;
		}
		input {
			font-size: 14px;
			max-width: 600px;
			width: 100%;
			height: 40px;
			color: #1b2a30;
			border: 1px solid #b0b9bd;
			border-radius: 4px;
			box-shadow: inset 0 1px 2px rgb(27 42 48 / 20%);
			padding: 6px 12px;
		}
	}

	&__button {
		button {
			background: linear-gradient(to bottom,#10b584, #00a474);
			border: 1px solid #3ea678;
			box-shadow: 0px 1px 0px rgb(27 42 48 / 60%);
			font-size: 14px;
			line-height: 20px;
			padding: 9px 12px;
			color: white;
		}
		padding-bottom: 32px;
	}
}
.header {

	&__menu {
		display: flex;
		align-items: center;
	}
}
.menu {

	&__icon {
	}

	&__body {
		padding: 28px 16px 32px 35px;
		box-shadow: 0 4px 44px rgb(57 69 80 / 21%);
		display: flex;
		@media(max-width: 900px) {
			flex-wrap: wrap;
		}
	}

	&__left {
		display: flex;
		flex-direction: column;
		min-width: 324px;
		flex: 1 1 auto;
		@media(max-width: 900px) {
			flex: 1 1 100%;
		}
	}

	&__left-top {
		margin: 0;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: #1F1F1F;
		padding: 10px 5px 10px 10px;
		margin-bottom: 22px;
		@media (any-hover: hover){
			&:hover{
				background-color: #f0f8ff;		
				border-radius: 6px;
			} 
		}
	}

	&__left-body {
	}

	&__left-title {
		padding-left: 5px;
		margin: 0 0 7px 0;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #A4AAAC;
	}

	&__left-wrapper {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 22px;
	}

	&__left-item {
		flex: 0 0 50%;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		margin: 0 7px 0 -8px;
		margin: 0;
		padding-left: 3px;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: #1F1F1F;
		transition: all .3s ease 0s;
		a {
			padding: 10px 5px 10px 10px;
		}
		@media (any-hover: hover){
			&:hover{
				background-color: #f0f8ff;		
				border-radius: 6px;
			} 
		}
		@media(max-width: 450px) {
			flex: 1 1 100%;
		}
	}

	&__right {
		flex: 0 0 320px;
		display: flex;
		flex-direction: column;
		min-width: 200px;
		@media(max-width: 900px) {
			flex: 1 1 100%;
		}
	}

	&__right-title {
		padding-left: 5px;
		margin: 0 0 7px 0;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #A4AAAC;
	}

	&__right-wrapper {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 22px;
	}

	&__right-item {
		flex: 1 0 100%;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		margin: 0 7px 0 -8px;
		margin: 0;
		padding-left: 3px;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: #1F1F1F;
		transition: all .3s ease 0s;
		a {
			padding: 10px 5px 10px 10px;
		}
		@media (any-hover: hover){
			&:hover{
				background-color: #f0f8ff;		
				border-radius: 6px;
			} 
		}
	}

	&__right-sidebar {
		display: flex;
		flex-direction: column;
		background: #FAFAFA;
		border-radius: 12px;
		margin: 0 30px 0 5px;
		padding: 28px 32px 28px 32px;
	}
}
.icon-menu {
}
.sidebar {

	&__title {
		font-weight: 500;
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 4px;
		color: #767F83;
		display: flex;
		align-items: flex-start;
	}

	&__name {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 4px;
		color: #1B2A30;
		display: flex;
		align-items: flex-start;
	}

	&__phone {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 4px;
		color: #1B2A30;
		display: flex;
		align-items: flex-start;
	}

	&__mail {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		display: flex;
		align-items: flex-start;
		color: #2589FF;
	}

	&__time {
		padding-right: 32px;
		font-size: 13px;
		line-height: 1.2;
		margin-top: 5px;
		margin-bottom: 24px;
	}

	&__block {
		display: flex;
		flex-direction: column;
		margin-bottom: 24px;
	}

	&__block-title {
		margin: 0 0 12px 0;
		text-transform: uppercase;
		color: #A4AAAC;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.04em;
	}

	&__block-link {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: #0878b4;
		margin-bottom: 8px;
	}
}

